<div class="desc-text fx-last">
    <p>Чарующая Восточная Азия становится ближе и доступнее благодаря популярным дорамам, которые можно смотреть бесплатно в нашем онлайн-кинотеатре на русском языке и в хорошем качестве.  Дорамы стали одной из «визитных карточек» Южной Кореи, но в нашей подборке вы также найдете горячие хиты из Японии, Китая, Тайвани. Жанры самые разные, на любой вкус: легкие романтические комедии, захватывающее фэнтези, остросюжетные детективы, триллеры и костюмные постановки в антураже восточного средневековья. В увлекательных историях, экзотической красоте и возможности погрузиться в культуру азиатских стран, где многое отличается от наших привычных реалий. Но в то же время многое остается понятным и близким. Из Восточной Азии с любовью – приглашаем прямо сейчас приобщиться к миру затягивающих дорам. У нас они представлены в качественной русской озвучке Приятного просмотра!</p>
<!--    <p class="after-image">Мы собрали для вас лучшие азиатские телехиты, уже покорившие весь мир.</p>-->
<!--    <img src="../assets/footer.jpg" width="250" height="143">-->
    <p class="second-abstance">В чем же секрет популярности дорам? .</p>
    <h2>Пять топовых дорам по запросам наших пользователей:</h2>
    <ul class="footer-list">
      <li><a>Деловое предложение</a></li>
      <li><a>Счастье</a></li>
      <li><a>Призрачный доктор</a></li>
      <li><a>Наруто</a></li>
      <li><a>Саудтрект номер один</a></li>
    </ul>
    <p>Приятного просмотра!</p>
    <h2>Только у нас Дорама онлайн</h2>
    <p>Оставайтесь с нами, делитесь комментариями и впечатлениями с другими пользователями, может быть именно благодаря вашему отзыву кто-то откроет для себя великолепный и многообразный мир дорам.</p>
  </div>
<div class="footer">
    <div class="footer-top">
        © 2022   Aizhan Fariza Aziza
    </div>
    <div class="footer-bottom">
        <a href="#">Главная</a>
        <a href="#">Обратная связь</a>
        <a href="#">Правообладателям</a>
    </div>
</div>

